<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="retirada-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <h2>Hello [[prop1]]!</h2>-->
    <input placeholder="IBAN" type="string" value="{{IBAN::input}}"></input>
    <input placeholder="Importe" type="string" value="{{importe::input}}"></input>
    <button on-click="retirada">Retirada</button>


    <iron-ajax
      id="doRetirada"
      url="http://localhost:3000/apitechu/v2/accounts"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RetiradaCuenta extends Polymer.Element {
      static get is() { return 'retirada-cuenta'; }
      static get properties() {
        return {
          IBAN : {
            type: String
          }, importe : {
            type: Number
          }
        };
      }

      manageAJAXResponse(data) {
          console.log("Llegaron los resultados");
          console.log(data.detail.response);


      }

      //Funcion manejadora del login tras hacer click en el button
      retirada(){

         console.log("El usuario ha pulsado el boton de retirada");

         console.log("He recibido el IBAN " + this.IBAN);
         console.log("He recibido el importe " + this.importe);


         //Creamos el object con los datos que le vamos a pasar al login del back
         //Ojo los nombres de las variables tienen que ser los mismos que los de la API del back
         var importeData = {
           "IBAN" : this.IBAN,
           "importe" : this.importe,
           "tipo": "retirada"
         };

         //Le decimos que a la peticion "doAlta", su body es el altaData pasado a JSON
         this.$.doRetirada.body = JSON.stringify(importeData);

         console.log("Voy a enviar la peticion")

         //Lanzamos la petición
         this.$.doRetirada.generateRequest();

         console.log("Petición enviada")

      }

    }

    window.customElements.define(RetiradaCuenta.is, RetiradaCuenta);
  </script>
</dom-module>
