<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ingreso-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <h2>Hello [[prop1]]!</h2>-->
    <input placeholder="IBAN" type="string" value="{{IBAN::input}}"></input>
    <input placeholder="Importe" type="string" value="{{importe::input}}"></input>
    <button on-click="ingreso">Ingreso</button>

    <span hidden$="{{!muestraError}}" style="color:red" >Cuenta incorrecta</span>

    <iron-ajax
      id="doIngreso"
      url="http://localhost:3000/apitechu/v2/accounts"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="manageAJAXError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class IngresoCuenta extends Polymer.Element {
      static get is() { return 'ingreso-cuenta'; }
      static get properties() {
        return {
          IBAN : {
            type: String
          }, importe : {
            type: Number
          }, muestraError: {
            type: Boolean,
            value: false
          }
        };
      }

      manageAJAXResponse(data) {
          console.log("Llegaron los resultados");
          console.log(data.detail.response);
          this.muestraError = false;
      }

      manageAJAXError(data){
          this.muestraError = true;
      }

      //Funcion manejadora del login tras hacer click en el button
      ingreso(){

         console.log("El usuario ha pulsado el boton de ingreso");

         console.log("He recibido el IBAN " + this.IBAN);
         console.log("He recibido el importe " + this.importe);


         //Creamos el object con los datos que le vamos a pasar al login del back
         //Ojo los nombres de las variables tienen que ser los mismos que los de la API del back
         var importeData = {
           "IBAN" : this.IBAN,
           "importe" : this.importe,
           "tipo" : "ingreso"
         };

         //Le decimos que a la peticion "doAlta", su body es el altaData pasado a JSON
         this.$.doIngreso.body = JSON.stringify(importeData);

         console.log("Voy a enviar la peticion")

         //Lanzamos la petición
         this.$.doIngreso.generateRequest();

         console.log("Petición enviada")

      }

      /*
      sendEvent(e) {
        console.log("Pulsado el boton");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail": {
                "importe": this.importe
              }
            }
          )
        );
      }
      */
    }

    window.customElements.define(IngresoCuenta.is, IngresoCuenta);
  </script>
</dom-module>
