<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../visor-accounts/visor-accounts.html">
<link rel="import" href="../login-usuario/login-usuario.html">

<dom-module id="test-iron-pages">
  <template>
  <style>
    :host {
      display: block;
    }
  </style>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <h1 class="jumbotron">Banco ByN</h1>
       <select value="{{componentName::change}}" placeholder="Seleccionar opcion">
         <option value=" ">Seleccionar componente</option>
         <option value="login-usuario">Login usuario</option>
         <option value="alta-usuario">Alta usuario</option>
         <!-- <option value="visor-usuario">Visor usuario</option> -->
         <!-- <option value="visor-accounts">Visor cuentas</option> -->
       </select>
       <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
         <div component-name="login-usuario"><login-usuario></login-usuario></div>
         <div component-name="alta-usuario"><alta-usuario></alta-usuario></div>
         <!-- <div component-name="visor-accounts"><visor-accounts id="3"></visor-accounts></div> -->
         <!-- <div component-name="visor-usuario"><visor-usuario id="3"></visor-usuario></div> -->
       </iron-pages>
     </template>
       <script>
        /**
         * @customElement
         * @polymer
         */

     /* Declaro la clase con 2 metodos */
     /* El metodo get is me dice el nombre del customElement */
     /* El metodo get properties me devuelve las propiedades del customElement */
        class TestIronPages extends Polymer.Element {

          static get is() { return 'test-iron-pages'; }

          static get properties() {
            return {
              componentName:{
                Type:String
              }
            };
          }

        }

     /* Con esto estoy definiendo el CustomElement "login-usuario" */
     /* El primer parametro del define es el nombre del customElement -> LoginUsuario.is ==> login-usuario */
     /* El segundo parametro del define es la clase que define ese customElement -> LoginUsuario */
        window.customElements.define(TestIronPages.is, TestIronPages);

      </script>
</dom-module>
