<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-accounts/visor-accounts.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <h2>Hello [[prop1]]!</h2>-->
    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input>
    <button on-click="login">Login</button>

    <!-- Creamos el span que es una especio de linea y solo la muestro si no está logeado-->
    <span hidden$="{{!isLogged}}">Bienvenido!!</span>
    <span hidden$="{{!muestraError}}" style="color:red" >Usuario o contraseña incorrectos</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/loginV2"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="manageAJAXError"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          idUsuario : {
            type: String
          }, email : {
            type: String
          },password: {
              type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }, muestraError: {
            type: Boolean,
            value: false
          }

        };
      }

      manageAJAXResponse(data) {
          console.log("Llegaron los resultados");
          console.log(data.detail.response);

          this.muestraError = false;

          if(data.detail.response.idUsuario) {
            this.isLogged = true;
            window.location = "user/" + data.detail.response.idUsuario;
          } else {
            this.muestraError = true;
          }
      }

      manageAJAXError(data) {
        this.muestraError = true;
      }

      //Funcion manejadora del login tras hacer click en el button
      login(){

         console.log("El usuario ha pulsado el boton de login");

         console.log("He recibido el email " + this.email);
         console.log("He recibido la password " + this.password);

         //Creamos el object con los datos que le vamos a pasar al login del back
         //Ojo los nombres de las variables tienen que ser los mismos que los de la API del back
         var loginData = {
           "email" : this.email,
           "password" : this.password
         };

         //Le decimos que a la peticion "doLogin", su body es el loginData pasado a JSON
         this.$.doLogin.body = JSON.stringify(loginData);

         console.log("Voy a enviar la peticion")

         //Lanzamos la petición
         this.$.doLogin.generateRequest();

         console.log("Petición enviada")

      }



    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
