<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="listar-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2>-->
    <input placeholder="IBAN" type="string" value="{{IBAN::input}}"></input>
    <button on-click="listaMovimientos">Listar Movimientos</button>

    <h2>Los movimientos</h2>

    <template is="dom-repeat" items="{{movimientos}}">
      <span>Fecha - {{item.fecha}}</span>
      <span>Tipo - {{item.tipo}}</span>
      <span>Importe - {{item.importe}} </span>
      <span><br></span>
   </template>



   <iron-ajax
     id="doListaMovimientos"
     url="http://localhost:3000/apitechu/v2/movimientos/{{IBAN}}"
     handle-as="json"
     content-type="application/json"
     method="GET"
     on-response="manageAJAXResponse"
   >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class ListarMovimientos extends Polymer.Element {
      static get is() { return 'listar-movimientos'; }
      static get properties() {
        return {
          id:{
            type: String
          }, IBAN: {
            type: String
          }, balance: {
            type: Number
          }, movimientos: {
              type: Object
          }
          /*{{UserID}}
          IBAN: {
              type:String
          },UserID: {
            type:Number
          },Balance : {
            type: Number
          }*/
        };
      }

      manageAJAXResponse(data) {
          console.log("Llegaron los resultados");
          this.cuenta = data.detail.response;
          this.movimientos = this.cuenta[0].movimientos;
          console.log(this.movimientos);

          //console.log(this.movimientos);
/*
          var movimientos = {
            "fecha": "",
            "tipo": "",
            "importe": 0
          }; */


      }

      listaMovimientos(){
        console.log("el usuario ha pulsado mostrar movimientos.");


                 console.log("El usuario ha pulsado el boton de retirada");

                 console.log("He recibido el IBAN " + this.IBAN);

                 console.log("Voy a enviar la peticion")

                 //Lanzamos la petición
                 this.$.doListaMovimientos.generateRequest();

                 console.log("Petición enviada")
      }

    }

    window.customElements.define(ListarMovimientos.is, ListarMovimientos);
  </script>
</dom-module>
