<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/visor-accounts/visor-accounts.html">
<link rel="import" href="../../src/logout-usuario/logout-usuario.html">
<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2>-->

    <span hidden$="{{!logged}}">

      <logout-usuario id=[[id]]></logout-usuario>

    </span>

    <h2>Hola [[first_name]] [[last_name]]</h2>

    <visor-accounts id=[[id]]></visor-accounts>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id:{
            type: String
          }, first_name: {
              type: String
          },last_name: {
            type: String
          },email : {
            type: String
          },id: {
              type: Number
            },logged: {
              type: Boolean
            }
        };
      }

      showData(data){
        console.log("Showdata");

        console.log(data.detail.response.id);
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);
        console.log(data.detail.response.logged);

      //Informo el valor de la propiedad (this.prop) con el valor del data.detail.response
        this.id=data.detail.response.id;
        this.first_name=data.detail.response.first_name;
        this.last_name=data.detail.response.last_name;
        this.email=data.detail.response.email;
        this.logged=data.detail.response.logged;


      }


    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
