<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="muestra-eltiempo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <h2>Hello [[prop1]]!</h2>-->
  <h2>El tiempo en Madrid es [[main.temp]] grados</h2>

  <iron-ajax auto
    id="getTiempo"
    url="http://api.openweathermap.org/data/2.5/weather?q=Madrid&units=metric&appid=184335b1a3df036a781a3e1ec4f13cfd"
    handle-as="json"
    on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ElTiempo extends Polymer.Element {
      static get is() { return 'muestra-eltiempo'; }
      static get properties() {
        return {
          coords: {
            type: Object
          },sys: {
            type: Object
          }, weather: {
            type: Array
          }, main: {
            type: Object
          }, wind: {
            type: Object
          }, rain: {
            type: Object
          }, clouds: {
            type: Object
          }, dt:{
            type: Number
          }, id: {
            type: Number
          }, name: {
            type: String
          }, cod :{
            type: Number
          }
        };
      }

      showData(data){
        console.log("Showdata");

        console.log(data.detail.response.main);


      //Informo el valor de la propiedad (this.prop) con el valor del data.detail.response
        this.main=data.detail.response.main;
      }

    }

    window.customElements.define(ElTiempo.is, ElTiempo);
  </script>
</dom-module>
