<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <h2>Hello [[prop1]]!</h2>-->
    <input placeholder="first name" type="string" value="{{first_name::input}}"></input>
    <input placeholder="last name" type="string" value="{{last_name::input}}"></input>
    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input>
    <button on-click="alta">Alta</button>


    <iron-ajax
      id="doAlta"
      url="http://localhost:3000/apitechu/v2/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          first_name : {
            type: String
          }, last_name : {
            type: String
          }, email : {
            type: String
          },password: {
              type: String
          }
        };
      }

      manageAJAXResponse(data) {
          console.log("Llegaron los resultados");
          console.log(data.detail.response);

          window.location = "/"
      }

      //Funcion manejadora del login tras hacer click en el button
      alta(){

         console.log("El usuario ha pulsado el boton de alta");

         console.log("He recibido el first name " + this.first_name);
         console.log("He recibido el last name " + this.last_name);
         console.log("He recibido el email " + this.email);
         console.log("He recibido la password " + this.password);


         //Creamos el object con los datos que le vamos a pasar al login del back
         //Ojo los nombres de las variables tienen que ser los mismos que los de la API del back
         var altaData = {
           "first_name" : this.first_name,
           "last_name" : this.last_name,
           "email" : this.email,
           "password" : this.password
         };

         //Le decimos que a la peticion "doAlta", su body es el altaData pasado a JSON
         this.$.doAlta.body = JSON.stringify(altaData);

         console.log("Voy a enviar la peticion")

         //Lanzamos la petición
         this.$.doAlta.generateRequest();

         console.log("Petición enviada")

      }

    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
