<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="visor-accounts">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2>-->
    <h2>las cuentas</h2>

    <template is="dom-repeat" items="{{accounts}}">
     <span>IBAN - {{item.IBAN}}</span>
     <span>Balance - {{item.balance}}</span>
     <span><br></span>
   </template>

   <ingreso-cuenta></ingreso-cuenta>
   <retirada-cuenta></retirada-cuenta>
   <listar-movimientos></listar-movimientos>


   <iron-ajax auto
   id="getAcount"
   url="http://localhost:3000/apitechu/v2/accounts/{{id}}"
   handle-as="json"
   on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class VisorAccounts extends Polymer.Element {
      static get is() { return 'visor-accounts'; }
      static get properties() {
        return {
          accounts: {
              type:Array
          },id: {
            type:String
          }
          /*{{UserID}}
          IBAN: {
              type:String
          },UserID: {
            type:Number
          },Balance : {
            type: Number
          }*/
        };
      }
      showData(data){
        console.log("ShowData");

        this.accounts = data.detail.response;
        console.log(data.detail.response);

/*        console.log(data.detail.response[0].IBAN);
        console.log(data.detail.response[0].UserID);
        console.log(data.detail.response[0].Balance);

      //Informo el valor de la propiedad (this.prop) con el valor del data.detail.response

        this.IBAN=data.detail.response[0].IBAN;
        this.UserID=data.detail.response[0].UserID;
        this.Balance=data.detail.response[0].Balance; */


      }

    }

    window.customElements.define(VisorAccounts.is, VisorAccounts);
  </script>
</dom-module>
