<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-accounts/visor-accounts.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <h2>Hello [[prop1]]!</h2>-->
    <button on-click="logout">Logout</button>

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logoutV2"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          idUsuario : {
            typee: String
          }, email : {
            type: String
          },password: {
              type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      manageAJAXResponse(data) {
          console.log("Llegaron los resultados");
          console.log(data.detail.response);

          //this.isLogged = true;
          window.location = "/"
      }

      //Funcion manejadora del login tras hacer click en el button
      logout(){

         console.log("El usuario ha pulsado el boton de logout");

         console.log("He recibido el id " + this.id);
         
         var logoutData = {
           "id" : this.id
         };

         //Le decimos que a la peticion "doLogin", su body es el loginData pasado a JSON
         this.$.doLogout.body = JSON.stringify(logoutData);

         console.log("Voy a enviar la peticion")

         //Lanzamos la petición
         this.$.doLogout.generateRequest();

         console.log("Petición enviada")

      }



    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
